.side-menu {
    width: 200px;
}

.side-menu a {
    background-color: #141d26;
    color: #c51f5d;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
  }
  
  .side-menu a:hover {
    background-color: #38414d;
  }
  
  .side-menu a.active {
    background-color: #c51f5d;
    color: white;
  }

  .side-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #141d26; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 125px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .side-menu a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .open-button {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    user-select: none;
    outline: none;
    /*user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;*/
  }
  
  .open-button:hover {
    background-color: transparent;
    animation-fill-mode: forwards;
    
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }

  @keyframes fadeRight {
      100% { transform: translateX(100px);}
  }